

body {
    background: #0e2338;
}

.header {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #FFF;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: center;
    display: flex;
}

.header-icons {
    background: #d7d7d7;
    padding: 7px;
    border-radius: 9999px;
    width: 38px;
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.2s, background 0.2s;
}

.header-icons:hover {
    background: #2d323a;
    color: #dbdde1;
}

@media (max-width: 768px) {
    body {
        background: #f8bb86;
    }
}
